.App {
  text-align: center;
}

input[type='text'] [type='url'] [type='number'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type='submit'] {
  width: 100%;
  background-color: #586eaa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
button[type='submit']:hover {
  background-color: #586eaa;
}

form.new-sale-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

main {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
